@model Wardrobe.Data.Cloths

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz to usunąć?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa Ubrania
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
  
        <dt class="col-sm-2">
            Nazwa zdjęcia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoverImageUrl)
        </dd>
        <dt class="col-sm-2">
           Zdjęcie
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/image/"+Model.CoverImageUrl)" asp-append-version="true" style=" height: 250px; " />
        </dd>
        <dt class="col-sm-2">
            Data Dodania
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            Rodzaj Ubrania
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kind.Name)
        </dd>
        <dt class="col-sm-2">
            Kolor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do szafy</a>
    </form>
</div>
