@model IEnumerable<Wardrobe.Data.Cloths>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*<thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoverImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>

        </tr>
    </thead>*@

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
    <div class="card">


        <h1>
            <img src="@("~/image/"+item.CoverImageUrl)" asp-append-version="true" />
        </h1>
        <h4>
            @Html.DisplayFor(modelItem => item.Title)
        </h4>
        <p>
            @Html.DisplayFor(modelItem => item.Description)
        </p>


        <h6>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </h6>
        <h4>
            @Html.DisplayFor(modelItem => item.Kind.Id)
        </h4>
        <h4>
            @Html.DisplayFor(modelItem => item.Color.Id)
        </h4>

        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

    </div>
       


    }
    </div>





    <style>

        img {
            vertical-align: middle;
            border-style: none;
            width: 350px;
            height: 350px;
        }

        .container {
            max-width: 1540px;
        }

        .card
        {
            margin-right: 10px;
        }

        .container {
            max-width: -webkit-fill-available;
            margin-left: 50px;
        }
    </style>


