@model ClothesSearchModel

@{ ViewData["Title"] = "Index"; }

<h1 style="text-align:center">Szafa z naszymi ubraniami</h1>


<div style="text-align:center">
    <p>
        <a asp-action="Create">Dodaj Nowe Ubranie</a>
    </p>
    @*<input id="myInput" type="text" placeholder="Search..">*@
</div>

@using (Html.BeginForm("Index", "Cloths", FormMethod.Post))
{
<div style="text-align:center">
    <input type="submit" value="Szukaj" />
</div>


                <p></p>

                                <p id="srodek" onclick="myFunction()">'- - -  Wybierz Kolor ubrania  - - - '</p>

                                                <div id="Tabelka" style="display:none; text-align:center;">
                                                    <div id="ramka">Wybierz Kolor Ubrań :</div>
                                                    <div class="d-flex flex-wrap">

                                                        @for (int i = 0; i < Model.ColorCheckboxes.Count; i++)
                                                        {
                                        <div id="ramka2" class="form-check">
                                            @Html.HiddenFor(m => m.ColorCheckboxes[i].Id)
                                            @Html.HiddenFor(m => m.ColorCheckboxes[i].Name)
                                            @Html.CheckBoxFor(m => m.ColorCheckboxes[i].IsChecked)
                                            @Html.LabelFor(m => m.ColorCheckboxes[i].IsChecked, Model.ColorCheckboxes[i].Name)

                                        </div>}
                                                    </div>
                                                </div>

                                                                <p></p>

                                                                                <p id="srodek" onclick="myFunction1()">'- - -  Wybierz rodziaj Ubrania  - - - '</p>

                                                                                                <div id="Tabelka2" style="display:none;">
                                                                                                    <p style="text-align:center" id="ramka">Wybierz rodziaj Ubrania :</p>
                                                                                                    <div class="d-flex flex-wrap">
                                                                                                        @for (int i = 0; i < Model.KindCheckboxes.Count; i++)
                                                                                                        {
                                                                                        <div id="ramka2" class="form-check">
                                                                                            @Html.HiddenFor(m => m.KindCheckboxes[i].Id)
                                                                                            @Html.HiddenFor(m => m.KindCheckboxes[i].Name)
                                                                                            @Html.CheckBoxFor(m => m.KindCheckboxes[i].IsChecked)
                                                                                            @Html.LabelFor(m => m.KindCheckboxes[i].IsChecked, Model.KindCheckboxes[i].Name)

                                                                                        </div>}
                                                                                                    </div>
                                                                                                </div>}

<p></p>

<div id="wielka" class="d-flex flex-wrap" style="margin-top:0 auto">
    @foreach (var item in Model.Cloths)
    {

<div id="karta" class="card d-flex flex-column" style="width: 300px; margin: 10px auto;">

    <div class="card-body " style="margin-top: 20px; margin: auto;">
        <img src="@("~/image/" + item.CoverImageUrl)" asp-append-version="true" />


    </div>
    <div id="title">
        @Html.DisplayFor(modelItem => item.Title)
    </div>
    <div id="desc">
        @Html.DisplayFor(modelItem => item.Description)
    </div>
    <div class=" mt-auto btn-group">
        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
        <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
        <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
    </div>
</div>}
</div>



<script>
    function myFunction() {
        var x = document.getElementById("Tabelka");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<script>
    function myFunction1() {
        var x = document.getElementById("Tabelka2");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>




<style>

    img {
        vertical-align: middle;
        border-style: none;
        width: 250px;
        height: 497px;
        align-items: center;
    }


    .container {
        max-width: -webkit-fill-available;
        margin-left: 5%;
    }

    #desc {
        text-align: center;
        font-family: serif;
    }

    #title {
        font-family: cursive;
        font-size: 16px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #karta {
    }

    #wielka {
        background-color: #f8f9fa !important;
    }

    #Tabelka {
        background-color: #f8f9fa !important;
    }

    #Tabelka2 {
        background-color: #f8f9fa !important;
    }

    #srodek {
        text-align: center;
    }
</style>

