@model ClothesSearchModel

@{ ViewData["Title"] = "Index"; }

@*<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>*@
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<input id="myInput" type="text" placeholder="Search..">*@

@using (Html.BeginForm("Index", "Cloths", FormMethod.Post))
{
    <input type="submit" value="Submit" />
    

    @Html.TextBoxFor(m => m.SearchName)
    @Html.LabelFor(m => m.SearchName, "Name")
<p></p>
<div id="Tabelka" class="d-flex flex-wrap">
    <div id="ramka">Wybierz Kolor Ubrań :&nbsp;&nbsp;</div>
    
    @for (int i = 0; i < Model.ColorCheckboxes.Count; i++)
    {
            <div id="ramka2" class="form-check">
                @Html.HiddenFor(m => m.ColorCheckboxes[i].Id)
                @Html.HiddenFor(m => m.ColorCheckboxes[i].Name)
                @Html.CheckBoxFor(m => m.ColorCheckboxes[i].IsChecked)
                @Html.LabelFor(m => m.ColorCheckboxes[i].IsChecked, Model.ColorCheckboxes[i].Name)
                
            </div>
    }
    </div>

<p></p> 

    <div id="Tabelka" class="d-flex flex-wrap">
        <p id="ramka">Wybierz rodziaj Ubrania :&nbsp;&nbsp;</p>
     @for (int i = 0; i < Model.KindCheckboxes.Count; i++)
    {
            <div id="ramka2" class="form-check">
                @Html.HiddenFor(m => m.KindCheckboxes[i].Id)
                @Html.HiddenFor(m => m.KindCheckboxes[i].Name)
                @Html.CheckBoxFor(m => m.KindCheckboxes[i].IsChecked)
                @Html.LabelFor(m => m.KindCheckboxes[i].IsChecked, Model.KindCheckboxes[i].Name)
                
            </div>
    }
    </div>
}
                                                                                                    </div>}
<div class="d-flex flex-wrap" style="margin-top:0 auto">
    @foreach (var item in Model.Cloths)
    {
  
    <div class="card d-flex flex-column" style="width: 300px; margin: 10px auto;">

        <div class="card-body " style="margin-top: 20px; margin: auto;">
            <img src="@("~/image/" + item.CoverImageUrl)" asp-append-version="true" />

            @Html.DisplayFor(modelItem => item.Title)

            @Html.DisplayFor(modelItem => item.Description)

        </div>
        <div class=" mt-auto">
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-info" sp-action="Details" asp-route-id="@item.Id">Details</a>
            <a class="btn btn-danger float-right" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>}
</div>


<




<style>

    img {
        vertical-align: middle;
        border-style: none;
        width: 280px;
        height: auto;
    }


    .container {
        max-width: -webkit-fill-available;
        margin-left: 5%;
    }

    /*    #ramka {
                background: ;
            }*/

    /*#ramka2 {
                background: #fffafa;
            }

            #desc {
                width: auto;
                height: 100px;
                text-align: center;
            }*/

    /* #Tabelka {
                border: outset;
                margin-right: 10px;
            }*/
    /*#buttons {
                text-align: center*/
    /*}*/
</style>

